/* SCSS styles */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
    font-family: Lexend;
}

img {
    box-shadow: 10px 10px 10px darkgrey;
    
  }

.portrait img {
    box-shadow: none;
    border-radius: 50%;
}