/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Lexend" !default;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

img {
    box-shadow: 10px 10px 10px darkgrey;
    
  }

.portrait img {
    box-shadow: none;
    border-radius: 50%;
}